.button {
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 1px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
} 
	.video-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid {
        padding-top: 56.25%
      }
	  
	        .player-dimensions {
        width: 300px;
        height: 168.75px;
      }

      .player-dimensions.vjs-fluid {
        padding-top: 56.25%;
      }
	  
	  
.responsive-table {
  width: 100%;
  margin-bottom: 1.25em;
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;

  overflow: hidden;
}

.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
}

@media (min-width: 60em) {
  .responsive-table {
    font-size: 1em;
  }
  .responsive-table th,
  .responsive-table td {
    padding: 0.75em 0.5em;
  }
  .responsive-table tfoot {
    font-size: 0.7em;
  }
}
@media (min-width: 60em) {
  .responsive-table {
    font-size: 0.7em;
  }
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .responsive-table tr {
    display: table-row;
  }
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: 1em;
  }

  .responsive-table caption {
    font-size: 1em;
  }
  .responsive-table tbody {
    display: table-row-group;
  }
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}
